.center {
    text-align: center;
}

.page {
    max-width: 800px;
    margin: auto;
}

.example {
    text-align: center;
    padding: 50px;
    background: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
}
.example:hover{
    background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
}