 .center {
      text-align: center;
    }

  .page {
    margin: auto;
    max-width: 800px;
  }

  .example {
    text-align: center;
    padding: 20px;
    background-color: #a8edea;
  }

  .example:hover {
    background: linear-gradient(to bottom, #a8edea 0%, #fed6e3 100%);
  }
